*{
    margin:0;
}
body{
    font-family:Verdana;

}
#container{
    width:100%;
}
li{
    list-style:none;
    display:flex;
    flex-basis:30%;
}
li ul{
    margin:2em;
    padding:1em;
    background:purple;
}
.title{
    text-transform:capitalize;
}
aside{
    width: 60%;
    text-transform: ;
}



footer{
    height: 100px;
    border:1px;
    border-radius:1em;
}